
// backgrounds \\
$color-bg-grey: #DDDDDD;
$color-bg-dark: rgb(143, 143, 143);
$color-bg-light: rgb(230, 227, 227);

// blue \\
$color-blue-primary: #5F8895;
$color-blue-light: #77A7B6;
$color-blue-dark: #3A546B;

// red \\
$color-red-primary: #AB5050;

// brown \\
$color-brown-primary: #BE9F7D;
$color-brown-dark: #95826D;